RewriteEngine on
RewriteRule ^/travo/blog/2006/07/a1-lebanese-bak.html$ /blog/2006/07/a1-lebanese-bakery.html [R=301,END]
RewriteRule ^/travo/blog/2006/07/bourdain-tells.html$  /blog/2006/07/bourdain-tells-it-like-it-is.html [R=301,END]
RewriteRule ^/travo/blog/2006/07/ceres-community.html$ /blog/2006/07/ceres-community-centre.html [R=301,END]
RewriteRule ^/travo/blog/2006/07/doppleganger-pe.html$ /blog/2006/07/doppleganger-perhaps-maybe.html [R=301,END]
RewriteRule ^/travo/blog/2006/07/is-gibson-guita.html$ /blog/2006/07/is-gibson-guitars-hamstrung-by-their-own-legacy.html [R=301,END]
RewriteRule ^/travo/blog/2006/07/oh-helen-how-co.html$ /blog/2006/07/oh-helen-how-could-you-get-it-so-wrong.html [R=301,END]
RewriteRule ^/travo/blog/2006/07/so-has-she-miss.html$ /blog/2006/07/so-has-she-missed-anything.html [R=301,END]
RewriteRule ^/travo/blog/2006/07/takin-some-smal.html$ /blog/2006/07/takin-some-small-steps.html [R=301,END]
RewriteRule ^/travo/blog/2006/07/the-green-refec.html$ /blog/2006/07/the-green-refectory.html [R=301,END]
RewriteRule ^/travo/blog/2006/08/antiterrorism-i.html$ /blog/2006/08/antiterrorism-is-the-new-terrorism.html [R=301,END]
RewriteRule ^/travo/blog/2006/08/geotagging-your.html$ /blog/2006/08/geotagging-youre-it.html [R=301,END]
RewriteRule ^/travo/blog/2006/08/how-do-you-deal.html$ /blog/2006/08/how-do-you-deal-with-this.html [R=301,END]
RewriteRule ^/travo/blog/2006/08/wow-what-a-poss.html$ /blog/2006/08/wow-what-a-posse.html [R=301,END]
RewriteRule ^/travo/blog/2006/09/1967-mosrite-vi.html$ /blog/2006/08/youtube-sharing.html [R=301,END]
RewriteRule ^/travo/blog/2006/09/consumer-bovine.html$ /blog/2006/09/1967-mosrite-vintage-strawberry-alarm-clock-guitars.html [R=301,END]
RewriteRule ^/travo/blog/2006/09/masanis-restaur.html$ /blog/2006/09/masanis-restaurant.html [R=301,END]
RewriteRule ^/travo/blog/2006/09/paris-hilton-wa.html$ /blog/2006/09/paris-hilton-walkin-talkin-livin-doll.html [R=301,END]
RewriteRule ^/travo/blog/2006/09/powerhouse-blue.html$ /blog/2006/09/powerhouse-blues-dvd-launch.html [R=301,END]
RewriteRule ^/travo/blog/2006/10/if-everyone-liv.html$ /blog/2006/10/if-everyone-lived-like-me.html [R=301,END]
RewriteRule ^/travo/blog/2006/10/reskin-ahem-a-r.html$ /blog/2006/10/reskin-ahem-a-realignment.html [R=301,END]
RewriteRule ^/travo/blog/2006/10/the-fickle-worl.html$ /blog/2006/10/the-fickle-world-of-hits.html [R=301,END]
RewriteRule ^/travo/blog/2006/11/gentlemens-lunc.html$ /blog/2006/11/gentlemens-luncheon.html [R=301,END]
RewriteRule ^/travo/blog/2006/11/movember-want-t.html$ /blog/2006/11/movember-want-to-sponsor-me.html [R=301,END]
RewriteRule ^/travo/blog/2006/11/mustachio-augog.html$ /blog/2006/11/mustachio-au-go-go.html [R=301,END]
RewriteRule ^/travo/blog/2006/11/online-video-vl.html$ /blog/2006/11/online-video-vlogging-and-lonelygirl15.html [R=301,END]
RewriteRule ^/travo/blog/2007/02/all-work-is-ult.html$ /blog/2007/02/all-work-is-ultimately-futile.html [R=301,END]
RewriteRule ^/travo/blog/2007/02/yet-more-eviden.html$ /blog/2007/02/yet-more-evidence.html [R=301,END]
RewriteRule ^/travo/blog/2007/03/geoff-achison-h.html$ /blog/2007/03/geoff-achison-heads-west.html [R=301,END]
RewriteRule ^/travo/blog/2007/05/i-wanna-be-a-mi.html$ /blog/2007/05/i-wanna-be-a-microgenerator.html [R=301,END]
RewriteRule ^/travo/blog/2007/05/jpg-magazine-re.html$ /blog/2007/05/jpg-magazine-rebels-against-its-parents.html [R=301,END]
RewriteRule ^/travo/blog/2007/05/not-your-parent.html$ /blog/2007/05/not-your-parents-album-release.html [R=301,END]
RewriteRule ^/travo/blog/2007/05/the-world-is-fl.html$ /blog/2007/05/the-world-is-flat.html [R=301,END]
RewriteRule ^/travo/blog/2007/06/life-on-the-str.html$ /blog/2007/06/life-on-the-street.html [R=301,END]
RewriteRule ^/travo/blog/2007/10/right-right-rig.html$ /blog/2007/10/right-right-right.html [R=301,END]
RewriteRule ^/travo/blog/2007/10/switched-part-o.html$ /blog/2007/10/switched-part-one.html [R=301,END]
RewriteRule ^/travo/blog/2007/10/switched-part-t.html$ /blog/2007/10/switched-part-two.html [R=301,END]
RewriteRule ^/travo/blog/2007/10/who-is-gonna-ma.html$ /blog/2007/10/whos-gonna-make-the-gravy.html [R=301,END]
RewriteRule ^/travo/blog/2008/03/fighting-inerti.html$ /blog/2008/03/fighting-inertia.html [R=301,END]
RewriteRule ^/travo/blog/2008/04/brief-and-succi.html$ /blog/2008/04/brief-and-succinct.html [R=301,END]
RewriteRule ^/travo/blog/2008/05/would-you-work.html$  /blog/2008/05/would-you-work-for-gordon-ramsay.html [R=301,END]
RewriteRule ^/travo/blog/2008/10/telling-capistr.html$ /blog/2008/10/telling-capistrano-to-deploy-from-branch.html [R=301,END]
RewriteRule ^/travo/blog/2009/02/making-babiesis.html$ /blog/2009/02/making-babies-is-hard-work.html [R=301,END]
RewriteRule ^/travo/blog(.*) /blog$1 [R=301,L]
