%footer.flex-grid
  .col
    %h3 Travis Winters Band
    %p
      %strong Founded in late 2015 by Travis Winters
      initially with Craig Kelly on bass and Les Oldman on drums. In Spring 2016 the band began
      an eight week residency at The Water Rat in South Melbourne. Some back-filling for Les, due
      to prior commitments introduced Ben Lindsay to band and the current incarnation of the trio
      has took shape.

    %p
      The greasy, naturally funky grooves of this great rhythm section, coupled with some spicy,
      succulent and flavoursome guitar shenanigans makes the Travis Winters Band a unique sounding
      blues trio.

    %p
      Travis is an entertaining, fun and confident front-man who brings a playfulness to
      the blues stage. Anyway, who said the blues has to be so damn serious?
    %p
      %small
        %strong
          All material &copy;
          = Date.today.year
          Travis Winters Band.
        %br/
        Any reproduction, misuse, reuse, mashups, copying, distribution, posting elsewhere as your own is strictly forbidden and serverly frowned upon.

  .col
    %h3 Contact
    %p
      %a{ href: 'http://twitter.com/travis_winters' }twitter.com/travis_winters
      %br/
      %a{href: 'http://facebook.com/traviswintersband' }facebook.com/traviswintersband
      %br/
      %a{href: 'mailto:traviswinters+twb@gmail.com' }traviswinters+twb@gmail.com

~ include('/_ga_tracking.html.haml')
