
%footer.flex-grid
  .col
    %p
      %small
        %strong
          All material &copy;
          = Date.today.year
          Travis Winters Band.
        %br/
        Any reproduction, misuse, reuse, mashups, copying, distribution, posting elsewhere as your own is strictly forbidden and serverly frowned upon.

~ include('/_ga_tracking.html.haml')
