!!!
%html.no-js{lang: 'en' }
  %head
    %title
      Travis Winters Band
    %meta{ charset: 'utf-8'}

    %meta{ content: 'index, follow', name: 'robots'}
    %meta{ content: '', name: 'description'}
    %meta{ content: '', name: 'author'}

    %script{ src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js' }

    %link{ href: '', rel: 'icon' }
    %link{ type: 'text/css', rel: 'stylesheet', href: href('/twb.css') }
    %link{ href: '', rel: 'alternate', title: 'RSS', type: 'application/rss+xml' }

    = main_header_image

  %body

    = yield

    ~ include('/_footer.html.haml')
