!!!
%html{lang: 'en' }
  %head
    %title
      Travis Winters Band
    %meta{ charset: 'utf-8'}

    %meta{ content: 'index, follow', name: 'robots'}
    %meta{ content: 'The Travis Winters Band is Melbourne based three-piece electric and eclectic blues band featuring Craig Kelly on bass and Ben Lindsay on drums.', name: 'description'}
    %meta{ content: 'Travis Winters Band', name: 'author'}

    %link{ href: '', rel: 'icon' }
    %link{ type: 'text/css', rel: 'stylesheet', href: href('/twb.css') }

  %body

    = yield

    ~ include('/_footer.html.haml')
