%iframe{ style: "border-radius:12px", width: "100%", height: "380",
          src: "https://open.spotify.com/embed/album/06J3flB3nIbSG6ARWe4fFS?utm_source=generator",
          frameBorder: "0", allowfullscreen: "",
          allow: "autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" }