---
layout: '/_layout.html.haml'
persona: 'home'
title: Welcome
...

%article

  .header
    %h1
      Travis Winters Band

  .banner.flex-grid

    .col
      %img{ src: "./images/travis-winters-by-sean-clohsey.jpg", style: "width:100%" }
    .col

      ~ include('/_player.html.haml')

      %h2 Debut Album — Shovel or the Dirt

      %p
        Released in 2017, the debut album by the Travis Winters band features eight  
        original tracks that are authentic, earnest and fun. Travis draws from a rich 
        pallete of his influences and pay homage without being hokey. His love of Blues, 
        Soul and Americana are all present along with a thoughtful approach to lyrics
        and story telling.

      %p
        Shovel or the Dirt is available to download on all streaming platforms including
        Apple Music, Spotify, and YouTube.

      %h3.tight Let's talk gigs.

      %p.large
        After a life and pandemic induced hiatus we're keen to play live once more.
        %a{href: 'mailto:traviswinters+twb@gmail.com' }Please reach out
        — lets have a conversation about performing at your place soon!

      %h3.tight Contact
      %p
        %a{href: 'mailto:traviswinters+twb@gmail.com' }traviswinters+twb@gmail.com
        %br/
        %a{href: 'http://facebook.com/traviswintersband' }facebook.com/traviswintersband
        %br/

  .flex-grid.clear
    .col
      %h2
        Current Lineup

  .flex-grid.clear
    .col
      %h3.tight Travis Winters
      %h5 Guitar & Vocals

      %p
        Rather than pursue a career in a Kiss cover band, Travis knew that blues and soul music was something that you could age into rather than age out of. So, after thirty years playing rock, blues and soul. Travis continues to pursue his interests and tastes just as he always has — with litte regard for convention.

    .col
      %h3.tight Craig Strain
      %h5
        %a{ href: "https://www.basslessonsmelbourne.com/"} Bass Lessons Melbourne

      %p
        As the founding member of the legendary band Pickpocket, Craig is well known in Melborne as the go-to guy for solid, groovy bass playing. He is also one of the nicest folks in town to work with and lifts whole bands. I have heard he can also leap tall buildings in a single bound.

    .col
      %h3.tight Will Harris
      %h5 Drums

      %p
        Will is new to the scene in Melbourne and is fast making a name for himself as a very, very tight pocket drummer. He is a no-nonsense player with some great chops and a good sense of groove.

  .flex-grid.clear
    .col
      %h2
        Alumnai

  .flex-grid.clear
    .col
      %h3.tight Ben Lindsay
      %h5
        %a{ href: "http://www.swandrums.com/"} Swan Drums

      %p
        A native Kiwi, a craftsman, and a damn fine drummer Ben brings a
        very relaxed and groovy sensibility to any rhythm section. A love for
        laid back cuts doesn't mean Ben can't rip it when required — the man's on point.

    .col
      %h3.tight Craig Kelly
      %h5 Bass

      %p
        Class, style and rock solid groove — Craig brings some melodic and funky
        sensibility to the Blues. Fast establishing himself in Melbourne as a sought
        after upright bass player, Craig gets to bring some electric funk to the stage
        with this trio.

    .col
      %h3.tight Les Oldman
      %h5 Drums

      %p
        Les has a long and storied career playing with many of the best in the Australian music scene, including John Dallimore, Paul Gadsby, Nick Charles and Ross Hannaford. He performed at the International Blues Competition in Memphis in 2006 with the Andrea Marr Band. He currently plays with 
        %a{ href: "https://bramband.com/" }Bram.

  .flex-grid
    .col
      %h2 History
      %p
        %strong Founded in late 2015 by Travis Winters
        initially with Craig Kelly on bass and Les Oldman on drums. In Spring 2016 the band began an eight week residency at The (former) Water Rat in South Melbourne. Ben Lindsay was introduced to band to help out and it just worked and that incarnation of the trio went on to perform live around Melbourne and began preparing a set for the the MBAS Blues Challenge.

      %h3
        2016
        %a{ href: "http://www.mbas.org.au/"}MBAS
        Blues Challenge Finalist

      %p
        The band put together a set that was very well recieved by the judges at the MBAS and made it through to the finals, playing alongside some pretty amazing talent that year that included;
        %a{ href: "https://www.facebook.com/JesseValachAndTheTestaments/" }Jesse Valach,
        %a{ href: "https://www.facebook.com/johnlukeshelley" }John-Luke Shelly,
        and non other than
        %a{href: "http://www.theteskeybrothers.com/" }The Tesky Brothers.
        An amazing year and a real pleasure to peform alongside such great bands and musicians.

      %h3
        2017 Album Release

      %p
        Adding a few more songs to the the blues challenge set and turning it into an album was next on the cards and the band went to
        %a{ href: "" }Crosstown Sound Studios
        to record their first album. The recording was a huge success and featured some fantastic playing from the Pickpocket horns — Alex Howroyd, Miles Izzo, Brett Evans and James Macaulay — with some brilliant horn lines arranged by Jeremy Diffey.

      %p
        The album was well received by the Blues and Roots community and made it to #4 on the Blues and Roots album charts later that year, being played on community radio all around the country.

      %h3
        2018 and onwards...

      %p
        The band continued to play in support of the album and after the excitement died down, Travis eased back into family life and resumed the primary role of middle-aged Dad.

      %p 
        Now that the difficult last couple of years are behind us (let's not talk about it) it's time to crank the handle and play some music live again. It's what brings us joy — playing music with friends for friends — new and old. 

    .col
      %h2 Style
      %p.large
        The greasy, naturally funky grooves of this great rhythm section, coupled with some spicy, succulent and flavoursome guitar shenanigans makes the Travis Winters Band a unique sounding blues band.

      %p.large
        Great blues grooves are more than shuffles, and if you want to get booties shaking you have to work on the 2's and 4's.

      %p.large
        Travis is an entertaining, fun and confident front-man who brings a playfulness to
        the blues stage. Anyway, who said the blues has to be so damn serious?