---
layout: '/_layout.html.haml'
persona: 'home'
title: Welcome
...

%article
  .banner.flex-grid
    .banner-text
      %h1
        Travis
        %br
        Winters
        %br
        .orange Band

  .flex-grid
    .col
      %h3.tight Ben Lindsay
      %h5
        %a{ href: "http://www.swandrums.com/"} Swan Drums

      %p
        A native Kiwi, a craftsman, and a damn fine drummer Ben brings a
        very relaxed and groovy sensibility to the rhythm section. A love for
        laid back cuts doesn't mean Ben can't rip it when required — the man's on point.

    .col
      %h3.tight Travis Winters
      %h5 Guitar & Vocals

      %p
        A life with the Blues — in one way or another — following in the foot-steps
        of giants; Travis weilds a Telecaster like a convict weilds an 8 pound hammer —
        a mighty swing, a ton of force and a thump to keep the time.

    .col
      %h3.tight Craig Kelly
      %h5 Bass

      %p
        Class, style and rock solid groove — Craig brings some melodic and funky
        sensibility to the Blues. Fast establishing himself in Melbourne as a sought
        after upright bass player, Craig gets to bring some electric funk to the stage
        with this trio.

  .flex-grid
    .col
      %h2
        2016
        %a{ href: "http://www.mbas.org.au/"}MBAS
        Blues Challenge Finalist

    .col
